
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        Hoşgeldin.
        <br />
        <a href="/Default/Okurmusun?isim=Negan&yas=52">Şimdi buradan giriş yap.</a>
    </div>
</body>
</html>